<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E-commerce Example Application</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<body>
  <div id="app">
    <div class="container">
      <br>

      <nav id="top-navigation" class="well well-sm flex flex-row align-center">
        <a href="#" @click.prevent="showingCart = false">
          <strong>E-commerce Inc.</strong>
        </a>
        <div class="text-right pull-right cart-info">
          <span class="stats">
            {{ cartItemCount }} {{ cartItemCount === 1 ? 'item' : 'items' }} in cart, totalling {{ cartTotal | currency }}
          </span>

          <button class="btn btn-primary"
                  v-if="!showingCart"
                  @click="showingCart = true">
            View Cart
          </button>

          <button class="btn btn-primary"
                  v-if="showingCart"
                  @click="showingCart = false">
            Continue shopping
          </button>
        </div>
      </nav>

      <div v-if="!showingCart" id="products" class="row list-group">
        <div class="item col-xs-4"
             v-for="(product, index) in products">

          <div class="thumbnail">
            <img class="group list-group-image"
                 src="http://placehold.it/400x250/000/fff">
            <div class="caption">
              <h4 class="group inner list-group-item-heading">
                {{ product.name }}
              </h4>
              <p class="group inner list-group-item-text">
                {{ product.description }}
              </p>
              <br>

              <div class="row flex flex-row align-center">
                <div class="col-xs-5">
                  <p class="lead">{{ product.price | currency }}</p>
                </div>

                <div class="col-xs-7 flex flex-row align-center justify-right">
                  <div class="number-in-stock"
                       :class="{ few: product.inStock < 10, none: product.inStock === 0 }">
                    {{ product.inStock }} in stock
                  </div>

                  <button class="btn btn-success"
                          :disabled="product.inStock === 0"
                          @click="addProductToCart(product)">
                    Add to cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- Products -->

      <div v-if="showingCart" id="cart">
        <h1>Cart</h1>

        <table v-if="cart.items.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in cart.items">
              <td>{{ item.product.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.product.price | currency }}</td>
              <td>{{ item.quantity * item.product.price | currency }}</td>
            </tr>

            <tr>
              <td class="text-right" colspan="3">
                <strong>Subtotal</strong>
              </td>
              <td>{{ cartTotal | currency }}</td>
            </tr>

            <tr>
              <td class="text-right" colspan="3">
                <strong>Tax</strong>
              </td>
              <td>{{ taxAmount | currency }}</td>
            </tr>

            <tr>
              <td class="text-right" colspan="3">
                <strong>Grand total</strong>
              </td>
              <td>{{ cartTotal + taxAmount | currency }}</td>
            </tr>

          </tbody>
        </table>

        <p v-else>Your cart is currently empty</p>
      </div> <!-- Cart -->

    </div> <!-- container -->
  </div>  <!-- app -->

  <script src="js/bootstrap.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
